{% extends 'base.html.twig' %}
{% block title %}Site de rencontre{% endblock %}
{% block body %}
    <h1>Le Site des Rencontres Sportives</h1>
    <h3>Salut</h3>
    <a href="/">Home</a>
    <a href="inscription">Login</a>
{% endblock %}


