{% extends 'base.html.twig' %}

{% block title %}Email Not Found{% endblock %}

{% block body %}
    <p>Email does not exist.</p>
    <a href="/">Home</a>
    <a href="inscription">Login</a>
{% endblock %}
