{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    {% if user is defined %}
        <h3>Welcome, {{ user.user_prenom }}!</h3>
        <a href="/">Home</a>
        <a href="recherche">Search</a>
        <a href="{{ path('inscription', {'preRemplir': true}) }}">S'inscrire pour un autre sport!</a>
    {% else %}
        <h3>Welcome!</h3>
    {% endif %}
{% endblock %}